#title{
    color: #fff;
    background-color: indigo;

}
.head{
    color:midnightblue;
}
div{
    color:rgb(53, 4, 4);
    background-color: aqua;
    width: 300px;
    height: 300px;
    border: 5px solid;
    border-color: black;
    margin-top: 50px;
    margin-left: 100px;
    padding-left: 40px;
    padding-top: 50px;

}
#para1{
    font-size: 18pt;
    font-family: sans-serif;
}