.header{
    width:100%;
    height: 85px;
    background-color: #3b5998;
    font-family: inherit;

}
.facebook{
    color:#fff;
    font-family: inherit;
    font-size: 30pt;
    font-weight: bold;
    text-decoration: none;
    padding-left: 200px;
    
}
.alink{
    width: 50%;
    height:65px;
    float: left;
    padding-top: 50px;
}
.signup{
    width: 50%;
    height:90px;
    float: left;
    padding-top: 30px;
    color: #fff;
    
}
.login{
    color: #fff;
    background-color: rgb(122, 122, 243);;
}
.password{
padding-left: 20px;

}
.body{
    
    width: 100%;
    height: 400px;
    margin-bottom: -4px;
    
    display: inline-block;       
}
.form{
    float: left;
    width:50%;
    height: 420px;
    
}
.image{
    float: left;
    width: 50%;
    height:420px ;
    
}
.footer{
    background-color: maroon;
    width: 100%;
    height: 117px;
    float: left;
    margin-top: 420px;
}
body{
    margin-top: 0;
}